 /* Navigation */
 *{
    font-family: Bree serif;
 }
#navbar{
    height: 100px;
}
 #navbar ul li a{
    font-size: 0.9rem;
    padding: 7px;
 }

 #logo img {
    height: 45px;
    border-radius: 200px;
    margin-top: 15px;
}

 #navbar::before{
    height: 80%;
 }

#logo {
    height: 70px;
    margin: 23px;
    margin-right: 10px;
}

 /* Home section */
#home{
    height: 424px;
    padding: 0px 15px;
}

#home::before{
    height: 400px;
    
}

#home p{
    font-size: 13px;
}

.btn{
    padding: 0px 12px;
    font-size: 18px;
}

/* Services section */
#services {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px;
    align-items: center;
}

#services .box{
    border: 2px solid white;
    padding: 34px 15px;
    margin: 33px 22px;
    border-radius: 23px;
    background-color: rgb(212, 208, 208);
    margin-bottom: 20px;
}

#services .box img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.h-secondary center{
    font-size: 2rem;
}

/* Client section */
#Client-section{
    height: 150px;
 }
#clients{
    overflow: hidden;
}
#Client-section h1 {
    padding-top: 0px;
}
#clients img{
    width: 56px;
    height: 50px;
    padding: 9px;
}

.Client-item{
    padding: 9px;
    margin: 5px;
}

/* contact us section */
#contact-box form{
    width: 80%;
}
#message{
    height: 200px;
}

#contact::before{
    height: 82%;
}

/* footer */
footer{
    font-size: 12.5px;
    margin-bottom: auto;
}

/* Utility classes */
.h-primary center {
    font-size: 2rem;
    font-family: Bree serif;
}
.h-primary {
    font-family: Bree serif;
    font-size: 2rem;
}
